@model List<Product>

@{
    ViewData["Title"] = "ProductDetail";
}

@foreach (var product in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 all-products">
        <div class="products">
            <div class="image">
                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
                    <img src="~/assets/images/shop/@product.Image"
                     alt="">
                </a>
            </div>
            <div class="name">
                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">@product.ProductAuthors?.FirstOrDefault().Author.Name</a>
            </div>
            <div class="category-name">
                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">@product.Name</a>
            </div>
            <div class="price-button">
                <p>$@product.Price</p>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div data-id="@product.Id" class="wishlist-cart">
                <i class="fa-solid fa-heart wishlist-add" data-toggle="tooltip" data-placement="top"
           title="Add To Wishlist"></i>
                <i class="fa-solid fa-cart-shopping cart-add" data-toggle="tooltip" data-placement="top"
           title="Add To Cart"></i>
            </div>
        }
        else
        {
            <div class="wishlist-cart">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none">
                    <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
               title="Add To Wishlist"></i>
                </a>
                <a asp-controller="Account" asp-action="Login">
                    <i class="fa-solid fa-cart-shopping cart-add" data-toggle="tooltip" data-placement="top"
               title="Add To Cart" style="color:black"></i>
                </a>

            </div>
        }

    </div>
}


